// mixins

@use "sass:list";

$default-center-display: inline-flex;

@mixin center($display: $default-center-display) {
    $options: flex, grid, inline-flex, inline-grid;
    $display-value: if(list.index($options, $display), $display, $default-center-display);

    display: $display-value;
    align-items: center;
    justify-content: center;
}


@mixin square($size, $radius: 0, $center: true, $display: $default-center-display) {
    --size: #{$size};
    flex: 0 0 auto;
    width: var(--size);
    height: var(--size);
    // background-color: var(--bg);

    @if $radius !=0 {
        border-radius: $radius;
    }

    @if $center {
        @include center($default-center-display)
    }
}


@mixin circle($size, $center: true, $display: $default-center-display) {
    @include square($size, 50%, $center, $display);
}


@mixin text-overflow-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@mixin text-lines-limit($rows) {
    display: -webkit-box;
    -webkit-line-clamp: $rows;
    line-clamp: $rows;
    -webkit-box-orient: vertical;
    overflow: hidden;
}